body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.top-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #333;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: none;
    text-align: center;
}

.slides img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.dots-container {
    text-align: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.subsections {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.subsection {
    width: 80%;
    margin-bottom: 20px;
}

.subsection h2 {
    text-align: center;
    color: #333;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.game-card {
    width: 75px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-card img {
    width: 300%;
    height: 150px;
    object-fit: fill;
}

.game-card h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}
